<%= form_with(model: @property, local: true) do |form| %>


  <div class="field">
    <%= form.hidden_field :number, value: 0 %>
  </div>

  <div class="field">
    <%= form.hidden_field :name %>
  </div>

  <div class="field">
    <%= form.hidden_field :assessment_id, value: @assessment.id %>
  </div>

  <div class="actions">
    <%= form.submit 'Añadir Propiedad', class:'btn btn-primary' %>
  </div>
<% end %>